:ruby
  profile = @yaml["profile"]
  awards = @yaml["awards"]
  education = @yaml["education"]
  experience = @yaml["experience"]
!!!
%html
  %head
    %link{:rel => :stylesheet, :type => :"text/css", :href => @config.stylesheet_file}
    %link{:rel => :stylesheet, :type => :"text/css", :href => "https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css"}
  %body.A4
    %section.sheet.padding-10mm
      %div#header
        %h1.resume-title= profile["name"].upcase
        %p= "#{profile["phone"]}\t~\t#{profile["email"]}\t~\t#{profile["links"]["linked_in"]}"
        %hr

      %div#profile
        %h2 PROFILE
        %p= profile["description"]

      %div#experience
        %h2 EXPERIENCE
        - experience.each do |e|
          - if e["volunteer"] == false
            %p.experience-title= "#{e["title"]}, #{e["org"]} (#{e["start"]} - #{e["end"]})"
            %p= e["description"]
            - if e["achievements"]
              - e["achievements"].each do |a|
                %ul
                  %li= a

      %div#awards
        %h2 AWARDS
        - awards.each do |a|
          %p.awards-title= "#{a["org"]} - #{a["title"]} (#{a["year"]})"
          %p= a["description"]

      %div#education
        %h2 EDUCATION
        - education.each do |e|
          %p.education-title= "#{e["org"]} - #{e["finished"]}"
          %p= e["title"]

      %div#community
        %h2 COMMUNITY INVOLVEMENT
        - experience.each do |e|
          - if e["volunteer"] == true
            %p.experience-title= "#{e["title"]}, #{e["org"]} (#{e["start"]} - #{e["end"]})"
            %p= e["description"]
            - if e["achievements"]
              - e["achievements"].each do |a|
                %ul
                  %li= a

      %div#references
        %h2 REFERENCES
        %p Available on request
